<div class="contCont">
  <div class="contenedor">
    <div class="titulo">
      <h1>MENSAJE</h1>
    </div>
    <form>
      <div class="campo">
        <label for="txtNombres">Nombres</label><br>
  <!--
        <input type="text" name="txtUsuario" id="txtUsuario" [(ngModel)]='tarea.tarea'>
  
        -->
          <input type="text" name="txtNombres" id="txtNombres">
      </div>
      <div class="campo">
        <label for="txtApellidos">Apellidos</label><br>
  <!--
        <input type="text" name="txtUsuario" id="txtUsuario" [(ngModel)]='tarea.tarea'>
  
        -->
        <input type="text" name="txtApellidos" id="txtApellidos">
      </div>
      <div class="campo">
        <label for="txtEmail">E-Mail</label><br>
  <!--
        <input type="text" name="txtUsuario" id="txtUsuario" [(ngModel)]='tarea.tarea'>
  
        -->
        <input type="text" name="txtEmail" id="txtEmail">
      </div>
      <div class="campo">
        <label for="txtMensaje">Mensaje</label><br>
  <!--
        <input type="text" name="txtUsuario" id="txtUsuario" [(ngModel)]='tarea.tarea'>
  
        -->
        <textarea type="text" name="txtMensaje" id="txtMensaje"></textarea>
      </div>
    </form>
    <div class="botones">
      <button type="button" class="aceptar">Aceptar</button>
      <button type="button" class="cancelar">Cancelar</button>
    </div>
  </div>
</div>
