<section>
  <div class="contAcercade">
    <div class="titulo">
      <h1>SOBRE NOSOTROS</h1>
    </div>
    <div class="contenedor">
      <p>
        Bienvenido a TOBECORDE, donde la calidad se encuentra con la variedad para crear experiencias únicas. Estamos comprometidos en proporcionar a nuestros clientes productos que no solo satisfacen sus necesidades, sino que también reflejan su estilo de vida.
      </p>
      <h3>PROPOSITO</h3>
      <p>
        En TOBECORDE, creemos que la elección de productos no solo es una transacción, sino una oportunidad para mejorar la vida cotidiana. Nos esforzamos por ser más que una tienda; somos facilitadores de sueños, conectando a las personas con productos que enriquecen sus vidas.
      </p>
      <h3>COMPROMISO CON LA COMUNIDAD</h3>
      <p>
        En TOBECORDE, creemos en devolver a la comunidad que nos ha apoyado. Descubre cómo estamos comprometidos con iniciativas de responsabilidad social y sostenibilidad.
      </p>
    </div>
  </div>
</section>
